<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="key">
    <mat-header-cell *matHeaderCellDef>项目</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.key}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef>值</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.value}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
